.stories {
  height: auto;/*given this a height will affect future responsiveness*/
  width: 100%;
}

.first-div {
  display: flex;
  height: 8vh;
}
.first-div p {
  font-size: 1.55rem;
  padding-top: 1.5rem;
  font-family: var(--poppins);
  margin-left: 5rem;
}
span {
  font-weight: bold;
}

.icons {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin-left: 83rem;
}
.icon_arrow_left {
  color: #c7c7c7;
}
.icon_arrow_right {
  padding-left: 1.5rem;
}

.second_div {
  display: flex;
  justify-content: center;
}

.card1-div {
  width: 22%;
  background: red;
}
.card2-div,
.card3-div,
.card4-div {
  width: 22%;
  margin-left: 1%;
}

.card1 {
  height: 60vh;
  width: 100%;
  background-color: orange;
  border-radius: 20px;
}
.card2 {
  height: 60vh;
  width: 100%;
  background-color: #a52a2a;
  border-radius: 20px;
}
.card3 {
  height: 60vh;
  width: 100%;
  background-color: #cccccc;
  border-radius: 20px;
}
.card4 {
  height: 60vh;
  width: 100%;
  background-color: #b2151b;
  border-radius: 20px;
}
/* .img2-bg {
  background-color: green;
  height: 10vh;
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 100px;
} */
.img2 {
  height: 8vh;
  margin-top: 20px;
  border-radius: 100px;
  margin-top: 109%;
  margin-left: 3%;
}
.img2-1 {
  height: 8vh;
  margin-top: 20px;
  border-radius: 100px;
  margin-top: 105.5%;
  margin-left: 2.5%;
}

.info h1 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--roboto);
  padding-top: 10px;
}
.info p {
  font-size: 1.3rem;
  font-family: var(--poppins);
}
.tri {
  display: flex;
  font-size: 1rem;
}
.tri1 {
  height: 4vh;
  width: 15%;
  background-color: bisque;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  font-family: var(--poppins);
  background-color: var(--white-ash);
  font-weight: bold;
}
.tri2 {
  height: 4vh;
  width: 12%;
  background-color: orange;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  padding-top: 5px;
  font-family: var(--poppins);
  background-color: var(--white-ash);
  font-weight: bold;
}
.tri3 {
  height: 4vh;
  width: 17%;
  background-color: brown;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  padding-top: 5px;
  font-family: var(--poppins);
  background-color: var(--white-ash);
  font-weight: bold;
}
.line {
  border-top: 1px solid black;
  width: 91%;
  margin-top: 4rem;
  margin-left: 5rem;
}
.third-div {
  display: flex;
}
.third-div .left p {
  font-family: var(--roboto);
  padding-top: 2rem;
  font-size: 4rem;
  padding-left: 5rem;
}
.left {
  width: 50%;
}
.right {
  margin-left: 29.5rem;
  width: 21%;
}
.image-bg1 {
  background-color: white;
  height: 12vh;
  width: 27%;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: -25px;
  display: inline-block;
}
.image-bg2 {
  background-color: white;
  height: 12vh;
  width: 27%;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: -25px;
  display: inline-block;
}
.image-bg3 {
  background-color: white;
  height: 12vh;
  width: 27%;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: -25px;
  display: inline-block;
}
.image-bg4 {
  background-color: white;
  height: 12vh;
  width: 27%;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: -25px;
  display: inline-block;
}
.image-div {
  display: flex;
}
.author-img {
  height: 10vh;
  border-radius: 100px;
  margin-left: 6px;
  margin-top: 0.5rem;
}
.right p {
  font-size: 15px;
  font-family: var(--poppins);
  padding-left: 13rem;
  padding-top: 10px;
  color: #444546;
}
.fourth-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card5-div {
  width: 29.3%;
}
.card6-div,
.card7-div {
  width: 29.3%;
  margin-left: 1.5%;
}
.card5 {
  height: 75vh;
  width: 100%;
  background-color: orange;
  border-radius: 20px;
}
.card6 {
  height: 75vh;
  width: 100%;
  background-color: brown;
  border-radius: 20px;
}
.card7 {
  height: 75vh;
  width: 100%;
  background-color: grey;
  border-radius: 20px;
}
.inform h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: var(--roboto);
  padding-top: 10px;
}
.inform p {
  font-size: 18px;
  font-family: var(--poppins);
}

.button-div {
  height: 20vh;
  display: flex;
  justify-content: center;
}
.button1 {
  height: 10vh;
  width: 12%;
  margin-top: 4rem;
  border-radius: 100px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 17px;
}
.line1 {
  border-top: 1px solid black;
  width: 91%;
  margin-top: 3rem;
  margin-left: 5rem;
}
.fifth-div {
  height: 10vh;
}
.fifth-div h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: var(--roboto);
  padding-top: 1.8rem;
  padding-left: 5rem;
}
.sixth-div {
  display: flex;
  justify-content: center;
}
.card8-div {
  width: 17.4%;
}
.card9-div,
.card10-div,
.card11-div,
.card12-div {
  width: 17.4%;
  margin-left: 1%;
}
.card8 {
  height: 45vh;
  width: 100%;
  background-color: #b2151b;
  border-radius: 20px;
}
.card9 {
  height: 45vh;
  width: 100%;
  background-color: orange;
  border-radius: 20px;
}
.card10 {
  height: 45vh;
  width: 100%;
  background-color: brown;
  border-radius: 20px;
}
.card11 {
  height: 45vh;
  width: 100%;
  background-color: grey;
  border-radius: 20px;
}
.card12 {
  height: 45vh;
  width: 100%;
  background-color: red;
  border-radius: 20px;
}
.info-1 h1 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--roboto);
  padding-top: 10px;
}
.img3 {
  height: 7vh;
  margin-top: 20px;
  border-radius: 100px;
  margin-top: 95%;
  margin-left: 3%;
}
.seventh-div {
  height: 30vh;
  display: flex;
}
.subscribe p {
  font-family: var(--roboto);
  padding-top: 5rem;
  font-size: 4.7rem;
  padding-left: 5rem;
}
.box {
  margin: 0;
  padding: 0;
  display: flex;
  width: 44%;
}
.box input {
  margin-left: 8rem;
  margin-top: 4.8rem;
  vertical-align: top;
  height: 12vh;
  width: 85%;
  border-radius: 100px;
  border: none;
  background-color: #ebe9eb;
  padding-left: 3rem;
  color: var(--black);
  font-size: 20px;
}
.box button {
  margin-top: 4.8rem;
  height: 12vh;
  width: 40%;
  border: none;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  margin-left: -225px;
  display: inline-block;
  cursor: pointer;
  border-radius: 100px;
}
