#app_btn
{
    width: 14rem;
    height: 5rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.7rem;
    font-family: var(--poppins);
    font-weight: 500;
    outline: none;
    border: none;
    transition: all .4s;
    cursor: pointer;
    text-transform: capitalize;
}

#app_btn:hover
{
    box-shadow: 0rem -0.1rem 2rem rgba(0, 0, 0, 0.58);
}

/* handling media query */
@media only screen and (min-width: 320px) and (max-width: 768px){
    #app_btn
{
    width: 17rem;
    height: 6rem;
    border-radius: 0.8rem;
    font-size: 2.1rem;
}
}
@media only screen and (min-width: 375px) and (max-width: 768px){
    #app_btn
    {
        width: 16rem;
        height: 6rem;
        border-radius: 0.8rem;
        font-size: 2rem;
    }
}