#article_view_wrapper
{
    margin: auto;
    width: 90%;
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
}
#article_view_wrapper .article_wrapper_container
{
    width: 60%;
    margin: 1rem auto;
    user-select: text;
}
#article_view_wrapper .article_view_head
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.2rem;
}
#article_view_wrapper .article_view_head h2
{
    font-family: var(--roboto);
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    color: var(--black);
    align-self: flex-start;
}
#article_view_wrapper .article_view_head .div_main
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
#article_view_wrapper .article_view_head .div_p
{   
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#article_view_wrapper .article_view_head .div1, 
#article_view_wrapper .article_view_head .div2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--poppins);
    gap: 1rem;
}
#article_view_wrapper .article_view_head .div1 span, .to_profile
{
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}
#article_view_wrapper .article_view_head .to_follow
{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--second-color);
    text-transform: capitalize;
}
#article_view_wrapper .article_view_head .div2 span
{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
}
#article_view_wrapper .article_view_head ul
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.001rem solid var(--second-color);
    border-bottom: 0.001rem solid var(--second-color);
    padding: 1.1rem 1rem;
}
#article_view_wrapper .article_view_head li
{
    list-style: none;
    font-family: var(--poppins);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: var(--black);
}
#article_view_wrapper .article_view_head li span
{
    font-size: 1.3rem;
    font-weight: 400;
}
#article_view_wrapper .article_icons
{
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--black);
}

#article_view_wrapper .article_view_head img
{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
#article_view_wrapper .article_view_main
{
    padding: 1.1rem 0rem;
}

#article_view_wrapper .article_controls
{
    position: fixed;
    right: 10.4rem;
    bottom: 35vh;
    /* height: 35vh; */
}
#article_view_wrapper .article_controls ul
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--black);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    height: 100%;
}
#article_view_wrapper .article_controls li
{
    list-style: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    #article_view_wrapper{
        width: 100%;
    }
    #article_view_wrapper .article_wrapper_container{
        width: 95%;
        margin: .0rem auto;
    }
    #article_view_wrapper .article_controls{
    position: fixed;
    right: 1rem;
    bottom: 35vh;
    }
    #article_view_wrapper .article_view_main{
    padding: 1.1rem 2.5rem 1rem .5rem;
    }
}