/* this are the two typefaces  imported from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* the root will contain our defined colors for the whole project */
:root{
  --first-color: #b5121b;
  --second-color: #bec0c2;
  --third-color: #565858;
  --white: #F5F5F5;
  --black: #0e0e0f;
  --white-ash: #f2f0f2;
  --text: #242424;
  --modal-bg: #00000080;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --lato: "Open Sans", sans-serif;
}
.dark-mode{
  --first-color: #750E15;
  --second-color: #333333;
  --third-color: #3F0A13;
  --white: #0d0d0d;
  --black: #f2f2f2;
  --white-ash: #1a1a1a;
  --text: #CCCCCC;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}

html
{
  font-size: 62.5%; /* this is to set all font-sizes at a small scale to enable editing*/
}

body {
  user-select: none;
  height: 100%;
}
a:-webkit-any-link{
  text-decoration: none;
}

/* defining a general class for all icons, instead of using a component */
.icon
{
  background-color: var(--second-color);
  padding: 0.4rem;
  font-size: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
  html{
  font-size: 52%;
  }
}